.main {
    .desc {
        font-size: 18px;
        max-width: 340px;
        margin: 0 auto;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .social {
        margin-top: 10px;
        margin-bottom: 10px;
        .row {
            margin-bottom: 20px;
        }
    }
}
